.demo-fade-enter {
    opacity: 0;
    transform: translateX(-100%);
}

.demo-fade-enter-active {
    opacity: 1;
    transform: translateX(0%);
}

.demo-fade-exit {
    opacity: 1;
    transform: translateX(0%);
}

.demo-fade-exit-active {
    opacity: 0;
    transform: translateX(100%);
}

.demo-fade-enter-active,
.demo-fade-exit-active {
    transition: opacity 500ms, transform 500ms;
}

/*---------------------------------------disappear-------------------------------------------*/

.demo-disappear-enter {
    opacity: 0;
    transform: scale(0.9);
}

.demo-disappear-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}

.demo-disappear-exit {
    opacity: 1;
}

.demo-disappear-exit-active {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 300ms, transform 300ms;
}

