.test-item {
    background-color: white;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    height: 80px;
    width: 120px;
    margin-right: 20px;
    border: solid 1px #e1d1f1;
    cursor: pointer;
}