.pl-table-pro-pagination {
  padding: 16px 24px;

  .pl-pagination {
    justify-content: flex-end;
  }
}

.pl-table-pro-head {
  font-size: 14px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;

  .pl-table-pro-operation {
  }
}