@include theme {
  .pl-form {

    .pl-form-item {
      display: inline-flex;
      margin-bottom: 20px;

      .pl-form-item-label {
        padding: 0 8px 0 16px;
      }

      .pl-form-item-body {
        display: flex;
        align-items: center;
        flex: 1;
      }

      &.pl-form-item-block {
        display: flex;
      }

      /*label align*/
      &.pl-form-item-label-align-left {
        .pl-form-item-label {
          text-align: left
        }
      }

      &.pl-form-item-label-align-center {
        .pl-form-item-label {
          text-align: center
        }
      }

      &.pl-form-item-label-align-right {
        .pl-form-item-label {
          text-align: right
        }
      }

      /*line-height*/
      @include sizeMixin(form-item) {
        line-height: $value;
      }
    }

    &:not(.pl-form-vertical-label) {
      .pl-form-item {
        flex-direction: row;
      }
    }

    &.pl-form-vertical-label {
      flex-direction: column;
    }

    @each $col in (2, 3, 4, 5) {
      &.pl-form-column-#{$col} {
        .pl-form-item {
          width: 100% / $col;
        }
      }
    }
  }

  .pl-form {
    .pl-form-item-body {

      .pl-slider, .pl-toggle {
        align-self: center;
      }

      /*input*/
      & > .pl-input, & > .pl-textarea {
        flex: 1;
        flex-shrink: 0;

        .pl-input-inner, .pl-textarea-inner {
          width: 100%;
        }

        &.pl-input-custom {
          .pl-input-inner {
            width: 100% !important;

            input {
              width: 100% !important;
            }
          }
        }
      }

      /*button*/
      & > .pl-button + .pl-button {
        margin-left: 8px;
      }

      & > .pl-button-group {
        & > .pl-button + .pl-button {
          margin-left: 0;
        }
      }

      /*checkbox and radio*/
      & > .pl-checkbox-group, & > .pl-radio-group {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: inherit;

        & > * {
          flex-shrink: 0;
        }
      }
    }
  }
}
