@include theme {
    .demo-use-collect-child {
        background-color: white;
        border: solid 1px $ibc;
        color: $itc;
        outline: none;
        padding: 6px 16px;
        cursor: pointer;
        min-width: 200px;

        & + .demo-use-collect-child {
            margin-left: 10px;
        }

        &:hover {
            background-color: mix($colorPrimary, white, 10%);
        }

        &.demo-use-collect-child-checked {
            background-color: $colorPrimary;
            color: white;
            border-color: $colorPrimary;

            &:hover {
                background-color: mix(black, $colorPrimary, 10%);
            }
        }
    }

    .demo-use-collect-child-minus {
        &.demo-use-collect-child-minus-status-check {
            background-color: $colorPrimary;
            color: white;
            border-color: $colorPrimary;

            &:hover {
                background-color: mix(black, $colorPrimary, 10%);
            }
        }

        &.demo-use-collect-child-minus-status-uncheck {
        }

        &.demo-use-collect-child-minus-status-minus {
            border-color: $colorPrimary;
            color: $colorPrimary;
        }
    }
}