@include theme {
    .pl-use-style-parent {
        padding: 20px;
        margin: 10px 0;
        @include statusMixin(use-style-parent) {
            background-color: mix($value, white, 20%);
        }
    }

    .pl-use-style-child {
        padding: 8px;
        margin: 8px 0;
        @include statusMixin(use-style-child) {
            background-color: $value;
            color: white;
        }
    }
}