@include theme {
  .pl-table-pro-setting-export {
    .pl-table-pro-setting-export-option {
      padding: 12px;
      transition: background-color linear 300ms;

      &:hover {
        background-color: $colorPrimaryLight;
        cursor: pointer;
      }

      &:not(:first-child) {
        border-top: solid 1px $ibl;
      }

      .pl-table-pro-setting-export-option-title {
        font-size: 16px;
        margin-bottom: 8px;
      }

      .pl-table-pro-setting-export-option-desc {
        font-size: 12px;
        color: $icc;
      }
    }
  }
}
